@import "tailwindcss";

@font-face {
  font-family: 'Contrail';
  src: url('/fonts/CONTRAIL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: 'Contrail', system-ui, sans-serif;
  --font-serif: 'Contrail', serif;
}

:root {
  font-family: 'Contrail', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #DFE6E6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}